@page "/coulmnlayout"

@using Syncfusion.Blazor.Form
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Popups

<PageTitle>SfDataForm component</PageTitle>

<h3>Form Group</h3>

<SfDataForm ID="MyForm"
            Model="@exampleModel1"
            Width="80%"
            Columns=6
            ColumnSpacing="20px"
            LabelPosition="FormLabelPosition.Top"
            ButtonsAlignment="FormButtonsAlignment.Right"
            ValidationMessageDisplay="@Validation" OnSubmit="HandleFormSubmit" OnUpdate="FormUpdate">
    <FormValidation>
        <DataAnnotationsValidator></DataAnnotationsValidator>
    </FormValidation>
    <FormItems>
        <FormItem Field="@nameof(exampleModel1.FirstName)" ColumnSpan="3" LabelText="First Name"></FormItem>
        <FormItem Field="@nameof(exampleModel1.LastName)" ColumnSpan="3" LabelText="Last Name"></FormItem>
        <FormItem Field="@nameof(exampleModel1.City)" ColumnSpan="2" LabelText="First Name"></FormItem>
        <FormItem Field="@nameof(exampleModel1.State)" ColumnSpan="2" LabelText="Last Name"></FormItem>
        <FormItem Field="@nameof(exampleModel1.ZipCode)" ColumnSpan="2" LabelText="Last Name"></FormItem>
        <FormItem Field="@nameof(exampleModel1.EmailId)" ColumnSpan="2" LabelText="Last Name"></FormItem>
    </FormItems>

    <FormButtons>
        <SfButton>Submit</SfButton>
    </FormButtons>

</SfDataForm>

@code {
    FormValidationMessageDisplay Validation { get; set; } = FormValidationMessageDisplay.Inline;

    private void FormUpdate(FormUpdateEventArgs args)
    {

    }

    private async Task HandleFormSubmit(EditContext editContext)
    {
        bool isFormValid = editContext.Validate();
    }

    public string[] data = new string[] { "Male", "Female", "Others" };

    public class Orders
    {
        [Required]
        public string FirstName { get; set; }

        [Required]
        public string LastName { get; set; }

        [Required]
        public string EmailId { get; set; }

        [Required]
        public string City { get; set; }

        [Required]
        public string State { get; set; }

        [Required]
        public string ZipCode { get; set; }
    }
    private Orders exampleModel1 = new Orders();

}
